<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
    用户名：
    <input [(ngModel)]="model.userName" #name="ngModel" name="userName" type="text" required="">
    <span class="error" [hidden]="name.valid || name.pristine">
      用户名必须
    </span>
  </div>
  <div>
    手机号：
    <input [(ngModel)]="model.mobile"  name="mobile" type="number">
  </div>
  <div ngModelGroup="userPwd">
    <div>
      密码：
      <input [(ngModel)]="model.pwd" name="pwd" type="password">
    </div>
    <div>
      确认密码：
      <input [(ngModel)]="model.confirmPwd" name="confirmPwd" type="password">
    </div>
  </div>
  <div>
    邮编：
    <input [(ngModel)]="model.postCode" name="postCode" type="number">
  </div>

  <div>
    性别：
    <input type="radio" name="sex" [(ngModel)]="model.sex" value="male">男
    <input type="radio" name="sex" [(ngModel)]="model.sex" value="female">女
  </div>

  <div>
    学历：
    <select name="education" [(ngModel)]="model.education" (change)="selectChange()">
      <option value="">请选择学历</option>
      <option *ngFor="let edu of eduOptions" [ngValue]="edu.value">{{edu.display}}</option>
    </select>

    <!--[ngValue]="edu" 选中后返回对象类型的数据-->
  </div>

  <div>
    <button [disabled]="myForm.form.invalid" type="submit">提交</button>
  </div>
</form>



<!--对于form标签隐式添加ngForm指令-->
<!--<form #myform="ngForm">
  <div>
    用户名:
    <input type="text" ngModel name="userName">
  </div>
</form>
{{myform.value | json}}==={{userName}}-->
<!--对于其他标签显示添加ngForm指令-->
<!--<div ngForm="">
  <div>
    用户名:
    <input type="text">
  </div>
</div>-->
<!--不希望angular接管时添加ngNoForm指令-->
<!--<form action="/res" type="post" ngNoForm>
  <div>
    用户名:
    <input type="text">
  </div>
  <div>
    <button type="submit">提交</button>
  </div>
</form>-->
